{% extends 'base.html.twig' %}
{% block html_class %}class="login"
{% endblock %}
{% block title %}Connexion au back office
{% endblock %}

{% block body %}

	<h1 style="display: none;">Connexion au back office</h1>
	<div class="login__content">
		<div class="login__left">
			<form id="sumitForm" method="post">
				<div class="login__left__img">
					<img src="{{ asset('build/images/svg/Logo_Pierre_LeFournier.svg') }}" width="201" alt="logo de Pierre LeFournier"></div>
				<h2>Connexion au back office</h2>
				<div class="login__champs">
					<div class="champ">
						<label for="Identifiant">Identifiant</label>
						<input class="champ__input" value="" id="identifiant" type="email" name="email" placeholder="Identifiant" required>
					</div>
					<div class="champ">
						<label for="inputPassword">Mot de passe</label>
						<input class="champ__input" id="password" type="password" name="password" placeholder="Mot de passe" required>
					</div>
				</div>
				{% if app.user %}
					<p>
						Vous êtes connecté en tant que
						{{ app.user.userIdentifier }}<br>
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</p>
				{% endif %}
				{% if error %}
					<p class="login__left__alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
				{% endif %}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button disabled id="btnSoumettre" class="btn" type="submit">
					Se connecter
				</button>
			</form>
		</div>
		<div class="login__right">
			<img src="{{ asset('build/images/svg/Logo_Pierre_LeFournier--white.svg') }}" width="201" alt="logo de Pierre LeFournier">
		</div>
	</div>
{% endblock %}
