{% extends 'base.html.twig' %}

{% block title %}OffreDeStage{% endblock %}

{% block body %}
    <h1>OffreDeStage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre_de_stage.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre_de_stage.titre }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ offre_de_stage.salaire }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ offre_de_stage.duree }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre_de_stage.description }}</td>
            </tr>
            <tr>
                <th>Brouillon</th>
                <td>{{ offre_de_stage.brouillon ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offre_de_stage_index') }}">back to list</a>

    <a href="{{ path('app_offre_de_stage_edit', {'id': offre_de_stage.id}) }}">edit</a>

    {{ include('offre_de_stage/_delete_form.html.twig') }}
{% endblock %}
