{{ form_start(form, {'attr': {'id': 'sumitForm', 'class': 'candidature__left'}}) }}
{% for child in form.children %}
	{% if child.vars.name != '_token' and child.vars.name != 'cv' %}
		<div class="champ">
			{{ form_label(child) }}
			{{ form_widget(child, {'attr': {'class': 'champ__input'}}) }}
		</div>
		{% elseif child.vars.name == 'cv' %}
			<div class="champ">
				{{ form_label(child) }}
				{{ form_widget(child, {'attr': {'class': 'ok'}}) }}
			</div>
		{% endif %}
	{% endfor %}
	<button disabled id="btnSoumettre" class="btn">{{ button_label|default('Candidater') }}</button>
	{{ form_end(form) }}
