{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="container">
		<div class="candidature">
			<div class="candidature__left">
				<h2>Candidature -
					{{ offre_de_stage.titre }}
				</h2>
				{{ include('dynamic/_formCandidature.html.twig') }}
			</div>
			<div class="candidature__right">
				<div class="card">
					<p class="card__title">
						{{ offre_de_stage.titre }}
					</p>
					<div class="card__tags">
						<div class="card__tag">
							<p>{{ offre_de_stage.salaire }}</p>
						</div>
						<div class="card__tag">
							<p>{{ offre_de_stage.duree }}</p>
						</div>
						<div class="card__description">
							<p>{{ offre_de_stage.description }}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
