{% extends 'base.html.twig' %}

{% block title %}Offre de stage
{% endblock %}

{% block body %}
	<div class="container">
		<div class="offre">
			<div class="offre__text">
				<h2>Le goût d'une équipe passionnée.</h2>
				<p>Pierre LeFournier n'est pas seul dans sa quête de perfection en boulangerie et pâtisserie. Il s'appuie sur une équipe de boulangers et pâtissiers hautement compétente et soudée. Si vous êtes stagiaire en quête d'excellence et de camaraderie, "Douce Saveur" est l'endroit idéal pour aiguiser vos compétences. Rejoignez-nous !</p>
			</div>
			<div class="offre__img--desktop">
				<img src="{{ asset('build/images/img/offre.png') }}" alt="Image de l'atelier"/>
			</div>
			<div class="offre__img">
				<img src="{{ asset('build/images/img/offre.png') }}" alt="Image de l'atelier"/>
			</div>
		</div>
		<div class="offres">
			<div class="offres__content">
				<h2>Nos offres de stage</h2>
				<div class="offres__cards">
					{% for offre_de_stage in offre_de_stages %}
						<a class="card__link" href="{{ path('app_offre_de_stage_show', {'id': offre_de_stage.id}) }}">
							<div class="card">
								<p class="card__title">
									{{ offre_de_stage.titre }}
								</p>
								<div class="card__tags">
									<div class="card__tag">
										<p>{{ offre_de_stage.salaire }}
											€</p>
									</div>
									<div class="card__tag">
										<p>{{ offre_de_stage.duree }}</p>
									</div>
									<div class="card__description">
										<p>{{ offre_de_stage.description }}</p>
									</div>
								</div>
								<p class="card__cta">Candidater -></p>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
