{% extends 'base.html.twig' %}

{% block title %}Traiteur{% endblock %}

{% block body %}
    <h1>Devis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Objet</th>
                <th>Description</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td>{{ devi.id }}</td>
                <td>{{ devi.nom }}</td>
                <td>{{ devi.prenom }}</td>
                <td>{{ devi.objet }}</td>
                <td>{{ devi.description }}</td>
                <td>{{ devi.email }}</td>
                <td>
                    <a href="{{ path('app_devis_show', {'id': devi.id}) }}">show</a>
                    <a href="{{ path('app_devis_edit', {'id': devi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_devis_new') }}">Create new</a>
{% endblock %}
